@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --crust: #11111b;
    --mantle: #181825;
    --base: #1e1e2e;
    --surface0: #313244;
    --surface1: #45475a;
    --text: #cdd6f4;
    --blue: #89b4fa;
  }
  .theme-latte {
    --crust: #dce0e8;
    --mantle: #e6e9ef;
    --base: #eff1f5;
    --surface0: #ccd0da;
    --surface1: #bcc0cc;
    --text: #4c4f69;
    --blue: #1e66f5;
  }
  .theme-frappe {
    --crust: #232634;
    --mantle: #292c3c;
    --base: #303446;
    --surface0: #414559;
    --surface1: #51576d;
    --text: #c6d0f5;
    --blue: #8caaee;
  }
  .theme-macchiato {
    --crust: #181926;
    --mantle: #1e2030;
    --base: #24273a;
    --surface0: #363a4f;
    --surface1: #494d64;
    --text: #cad3f5;
    --blue: #8aadf4;
  }
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

